@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}
@layer base {
  body {
    margin: 0px;
    font-size: 16px;
  }
}
@layer components {
  .none_horizontal_scrollbar ::-webkit-scrollbar {
    overflow-x: hidden;
  }
  .none-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .shadow-button {
    box-shadow: inset 14px 14px 30px -24px #2f2f37;
  }
  input:focus {
    outline: none;
  }
  .image_in_html * {
    max-width: 100%;
    height: auto
  }
}
